body {
    /* background-color: gray; */
    font-family: 'Montserrat',sans-serif;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nam{
    color:#ffed00;
}

.hnam {
    font-family: 'Monserrat';
    font-style: italic;
    font-size: 57px;
}
.navbar{
    backdrop-filter: blur(.8px);
} 
.backg {
    background-image: url(Media/b3.jpg);
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
}

.links{
    transition: .3s;
}

.nav-link{
    color: rgb(0, 136, 255);
    font-size: .8rem;
    transition: .3s;
    
}

.nav-link:hover {
    transform: scale(1.1);

}

.links:hover{
    transform: scale(1.1);
}

.roll {
    display: block;
    white-space: nowrap;
    border-right: 1px solid;
    width: 18ch;
    
    animation: typing 2s steps(22), blink .5s infinite step-end alternate;
    overflow:hidden;
}
    
@keyFrames typing {
    from { width: 0}
}
@keyFrames blink {
     50% { border-color: transparent}
}



@media (min-width: 768px){
   .profile{
    width: 200px;
   }
   .nav-link{
    font-size: 1rem;
   }
}


.lorem {
    background: transparent;
    background-color: rgb(192, 192, 244);
}



