body {
    background-color: #1F2B32;
    font-family: 'Montserrat',sans-serif;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nam{
    color:#ffed00;
}

.sti{
    display: none;
}
.hnam {
    font-family: 'Monserrat';
    font-style: italic;
    font-size: 57px;
}
.navbar{
    backdrop-filter: blur(.8px);
} 
.backg {
    background-image: url(Media/b2.jpg);
    background-size: cover;
    background-position: start;
    border-radius: 0% 0% 50% 50% / 0% 0% 3% 3% ;
}

.links{
    transition: .3s;
}

.nav-link{
    font-size: .8rem;
    transition: .3s;
    
}


.nav-link:hover {
    transform: scale(1.1);

}

.links:hover{
    transform: scale(1.1);
}

.roll {
    display: block;
    white-space: nowrap;
    border-right: 1px solid;
    width: 18ch;
    
    animation: typing 1.3s steps(18), blink .5s infinite step-end alternate;
    overflow:hidden;
}
    
@keyFrames typing {
    from { width: 0}
}
@keyFrames blink {
     50% { border-color: transparent}
}

@media (min-width: 768px){
   .profile{
    width: 200px;
   }
   .nav-link{
    font-size: 1rem;
   }
   .sti{
    display: inline;
    position: absolute;
    bottom: 30px;
    left: 190px;
    }
    .backg {
        background-position: center;
    }
}


.bg {
    background: rgb(193,183,173);
    background: radial-gradient(circle, rgba(193,183,173,1) 0%, rgba(235,207,178,1) 54%);
}

 /* ------------------------------------------------------------------------------- */
 /* Tab de about me */
/* .cont {
    background-color: rgba(141, 141, 141, 0.559);
    box-shadow: 0 2px 16px rgba(0, 0, 0, .1);
    border-radius: 18px;
} */

.tab_box{
    border-bottom: 2px solid rgb(229, 229, 229);
    
}

.tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: blueviolet;
    background: none;
    border: none;
    position: relative;
}

.tab_box .tab_btn:hover{
    cursor: pointer;
}

.content_box .content{
    display: none;
}
.content_box .content.active{
    display: block;
    animation: moving .5s ease;
}
@keyframes moving {
    from{transform: translateX(50px);opacity: 0;}
    to{transform: translateX(0px);opacity: 1;}
}

.tab_box .tab_btn.active{
    color: #ffed00;
}

.cont{
    color: white;
    background-color: #354955;
    border-radius: 15px;
}

